mixin taglist(tags)
 div.tags
   each tag in tags
     span ##{tag} 

mixin header(header)
  if (header)
    h2.header=header
  else
    h2.header
      block

mixin pp-body(text, href, link, linkTitle)
  p=text
  if href
    p
      if link
        a(href=href title=linkTitle)=link
      else
        a(href=href title=linkTitle) Continue

mixin pp(tags, header, text, href, link)
  div.pp
    +taglist(tags)
    +header()
      a.text(href=href title=header) #{header}
    +pp-body(text, href, link, header)

mixin news(tags, header)
  div.pp
    +taglist(tags)
    +header(header)
    block