mixin pp-header(date, title, href)
  div.date=date
  h2.header
    a.link(href=href) #{title}

mixin pp-body(text, href, link)
  p=text
  p.link
    if link
      a(href=href) #{link}
    else
      a(href=href) Continue

mixin pp(date, header, text, href, link)
  div.pp
    +pp-header(date, header, href)
    +pp-body(text, href, link)
