mixin pp-header(tags, title, href)
  div
    each tag in tags
      span.tag ##{tag} 
  h2.header
    a.link(href=href) #{title}

mixin pp-body(text, href, link)
  p=text
  p.link
    if link
      a(href=href) #{link}
    else
      a(href=href) Continue

mixin pp(date, header, text, href, link)
  div.pp
    +pp-header(date, header, href)
    +pp-body(text, href, link)
